@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap");

Link {
	cursor: pointer;
}

.heroImage {
	background-image: url("/hero/hero2.png");
}

@media (min-width: 1024px) {
	.heroImage {
		background-image: none;
	}
}

/* * {
	border: 1px solid red;
} */
